<ion-app>
  <ion-split-pane contentId="side-content">
    <ion-menu contentId="side-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ userSession && userSession.displayName ? userSession.displayName : 'DigimonApp'}}</ion-list-header>
          <ion-note>{{ userSession && userSession.email ? userSession.email : ''}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="labels-list">
          <ion-button expand="block" (click)="closeSession()" mode="md">
            <ion-icon aria-hidden="true" slot="start" name="exit-outline" ></ion-icon>
            <ion-label>
              <ion-text> {{'pages.home.close_session' | translate}}</ion-text>
            </ion-label>
          </ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="side-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

