<ion-content [fullscreen]="true" class="ion-padding" color="medium">
  <div class="logo-app">
    <ion-img src="https://digimon-api.com/logo.png"> </ion-img>
  </div>
  <ion-card class="ion-padding card-center">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-item lines="none">
        <ion-label>
          <ion-text color="primary" class="title">{{'auth.sign_up.sign_up' | translate}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input required type="text" formControlName="name" label-placement="floating" fill="outline"
              [label]="'labels.user.name' | translate" [placeholder]="'labels.user.enter_name' | translate"
              [errorText]="'labels.user.invalid_name' | translate"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input required type="email" inputmode="email" formControlName="email" label-placement="floating" fill="outline"
              [label]="'labels.user.email' | translate" [placeholder]="'labels.user.enter_email' | translate"
              [errorText]="'labels.user.invalid_email' | translate"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input required [type]="passwordType1" formControlName="password" label-placement="floating" fill="outline"
              [label]="'labels.user.password' | translate" [placeholder]="'labels.user.enter_password' | translate"
              [errorText]="'labels.user.invalid_password' | translate">
              <ion-icon [name]="passwordType1 == 'password' ? 'eye':'eye-off-outline'" slot="end"
                (click)="togglePasswordType1()"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input required [type]="passwordType2" formControlName="confirmPassword" label-placement="floating"
              fill="outline" [label]="'labels.user.confirm_password' | translate"
              [placeholder]="'labels.user.enter_password' | translate"
              [errorText]="'labels.user.invalid_password' | translate">
              <ion-icon [name]="passwordType2 == 'password' ? 'eye':'eye-off-outline'" slot="end"
                (click)="togglePasswordType2()"></ion-icon>
            </ion-input>
            <ion-text color="danger" class="error-password ion-padding" *ngIf="passwordsMatchError(registerForm)">
              {{'auth.error.passwords_not_match' | translate}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" type="submit" color="primary">{{'auth.sign_up.register' | translate}}</ion-button>
      <ion-item button lines="none" detail="true" (click)="navigationLogin()">
        <ion-label class="ion-text-center">
          {{'auth.sign_up.have_account' | translate}}
          <ion-text color="primary"> {{'auth.sign_up.enter' | translate}}</ion-text>
        </ion-label>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
