<ion-card>
  <ion-item lines="none">
    <ion-label class="ion-text-center">
      <h4><span># {{digimon.id}}</span></h4>
      <ion-text>
        <span class="name-digimon">{{digimon.name}}</span>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-img *ngIf="digimon.images.length===0" [src]="assets.imageNotFound" class="img-big"></ion-img>
  <ion-img *ngIf="digimon.images.length>0"
    [src]="digimon.images[0].href"
    (ionError)="digimon.images[0].href = assets.imageNotFound" class="img-big"></ion-img>

  <ion-item-group class="ion-padding">
    <ion-item lines="none" class="ion-no-padding" *ngIf="digimon.levels.length>0">
      <ion-label class="ion-text-center">
        <ion-text class="ion-padding">Levels</ion-text><br>
        <ion-badge *ngFor="let item of digimon.levels" color="success"> {{item.level}} </ion-badge>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding" *ngIf="digimon.attributes.length>0">
      <ion-label class="ion-text-center">
        <ion-text class="ion-padding">Attributes</ion-text><br>
        <ion-badge *ngFor="let item of digimon.attributes" color="tertiary"> {{item.attribute}} </ion-badge>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding" *ngIf="digimon.types.length>0">
      <ion-label class="ion-text-center">
        <ion-text class="ion-padding">Types</ion-text><br>
        <ion-badge *ngFor="let item of digimon.types" color="danger"> {{item.type}} </ion-badge>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-card>
